.type.normal { background: #bdbdbd; color: #000; }
.type.electric { background: #ffd02c; color: #000; }
.type.fire { background: #ee8130; }
.type.ground { background: #b38390; }
.type.rock { background: #e9d45f; color: #000; }
.type.water { background: #6390f0; }
.type.grass { background: #7ac74c; }
.type.bug { background: #729f3f; }
.type.flying { background: #b3dc7e; }
.type.ice { background: #98d9ff; color: #000; }
.type.poison { background: #9e0a72; }
.type.fairy { background: #ff87db; }
.type.fighting { background: #d33d33; }
.type.psychic { background: #aa0080; }
.type.steel { background: #616161; }
.type.ghost { background: #313d7e; }
.type.dark { background: #222222; }
.type.dragon { background: #3f23bb; }

.modal {
  display: flex;   /* 👈 importante */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.hidden {
  display: none;
}

.modal-stats {
  margin-top: 15px;
}

.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.stat-name {
  width: 90px;
  font-size: 12px;
  text-transform: capitalize;
}

.stat-bar {
  flex: 1;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.stat-fill {
  height: 100%;
  background: #2aa7c8;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.stat-value {
  width: 30px;
  font-size: 12px;
  text-align: right;
}